@media screen and (max-width:768px){
  html{font-size:18px;}
  nav{display:none;}
  
  html{font-size:16px;}
  #top .logo{
    max-width:200px;
  }
  #top .wrap .toggle{
    display:block;
    font-size: 40px;
    background-color: rgba(255,255,255,0.6);
    width:10%;
    height:100%;
    line-height: 100px;
    text-align: center;
    color:#ed9cad;
  }
  #main .wrap h1{
    width:100%;
    font-size:35px;
    margin-top:35px;
  }
  #main .wrap .right p{
    font-size: 18px;
  }
  #main .wrap .right{
    height:650px;
  }
  #about .wrap{
    height:400px;
  }
  #about .wrap .about_img{
    width:35%;
  }
  #about .wrap .about_img img{
    width:100%;
  }
  #about .wrap .text p:last-child{
    padding-top:5px;
  }
  #about .text p:nth-child(2){display:none;}
  #identity>.wrap p{
    font-size:16px;
  }
  #identity>.wrap{
    padding:40px;
  }
  #menu .wrap ul{
    flex-wrap: wrap;
  }
  #menu .wrap ul li{
    width:80%;
  }
  #menu .wrap li:nth-child(2)::after{
    display:none;
  }
  #menu .wrap li{position: relative;}
  #menu .wrap li .txt p{
    position:absolute;
    right:-35%;
    width:100px;
    top:50%;
  }
  #chef .contents{
    flex-wrap: wrap;
  }
  #chef .txt{
    width:100%;
    margin-top:70px;
  }

}